[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/bullet3"]
	path = External/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/stduuid"]
	path = External/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "External/GSL"]
	path = External/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "External/recastnavigation"]
	path = External/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
